list,
row,
.budgie-haste-applet {
    padding: 0px;
}

.budgie-haste-applet .view-header {
    padding: 10px;
}

.budgie-haste-applet .view-header,
.budgie-haste-applet .editor-header {
    border-bottom: 1px solid mix(@theme_base_color, #000000,  0.35);
    box-shadow: 0px 1px 1px alpha(@theme_fg_color, 0.04);
}

.view-header .linked > button {
    box-shadow: none;
}

.view-header .linked > button:first-child {
    border-right: 1px solid mix(@theme_base_color, #000000,  0.25);
}

.budgie-haste-applet .editor-header entry {
    padding: 10px;
    background: transparent;
    border: none;
    border-radius: 0px;
}

.budgie-haste-applet .editor-header entry:focus {
    box-shadow: none;
}

.budgie-haste-applet .editor-header button {
    border: none;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;

}

.budgie-haste-applet textview,
.budgie-haste-applet textview text {
    background: transparent;
}


.budgie-haste-applet .bottom-area {
    border-top: 1px solid mix(@theme_base_color, #000000, 0.35);
    box-shadow: inset 0px 1px 1px alpha(@theme_fg_color, 0.04);
}

.budgie-haste-applet .bottom-area button {

    border: 0;
    padding: 5px;
}

.budgie-haste-applet .bottom-area .haste-it {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.budgie-haste-applet .bottom-area .upload-button {
    background: transparent;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid mix(@theme_base_color, #000000, 0.35);
    box-shadow: inset 2px 0px 1px -1px alpha(@theme_fg_color, 0.04);
    padding-left: 5px;
    padding-right: 5px;
}

.budgie-haste-applet .bottom-area button.upload-button:active,
.budgie-haste-applet .bottom-area button.upload-button:checked {
    background: @theme_selected_bg_color;

}

.budgie-haste-applet .history-separator {
    padding: 0;
    margin: 0;
    background-color: mix(@theme_base_color, #000000, 0.35);
    box-shadow: 0px 1px 1px alpha(@theme_fg_color, 0.04);
}

.budgie-haste-applet .bottom-button {
    border-radius: 0 0 2px 2px;
    border: 0;
    border-top: 1px solid mix(@theme_base_color, #000000, 0.35);
    box-shadow: inset 0px 1px 1px alpha(@theme_fg_color, 0.04);
    padding: 5px;
}